html,
body {
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  word-break: break-all;
}
#VueApp {
  min-width: 280px;
  position: relative;
}
a {
  text-decoration: none;
  color: inherit;
}
.PageTitle {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  margin: 0;
  text-align: left;
  z-index: 9;
}
.PageWrapper {
  padding: 48px 16px 16px;
  font-size: 14px;
  position: relative;
}
.n-avatar {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.n-drawer {
  min-width: 160px;
}
@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.myForm {
  max-width: 418px;
  margin: 0 auto;
}
.myForm .myForm__item {
  text-align: center;
}
.myForm .myForm__item .n-input__input-el {
  text-align: inherit;
}
.myForm .myForm__item .Submit {
  width: 76%;
  margin: 0 auto;
}
.myForm .my-textarea {
  text-align: left;
}
.myForm .input_hint_wrapper {
  width: 100%;
}
.myForm .input_hint_wrapper .input_hint {
  color: #999;
  margin-top: 8px;
  padding: 4px 12px;
}
.myForm .input_hint_wrapper .input_hint span {
  color: #f0b90b;
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}
.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.n-notification-container .n-notification {
  max-width: 80vw;
}
.EchartsTooltip {
  position: fixed !important;
  z-index: 1000 !important;
  top: auto !important;
  bottom: 8px !important;
  left: 8px !important;
  transform: none !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
}
.TestDiv {
  position: fixed;
  bottom: 0;
  left: 0;
}
.AKItem {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: #000 !important;
}
.AKItem div {
  margin-right: 6px;
}
.AKItem.red span {
  color: red;
}
.AKItem.green span {
  color: green;
}
.AKItem .warn span {
  color: #f0b90b;
}
